<div class="visions">
  <div class="child-visions">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <p class="section-headings m-0">VISIONS</p>
        <p class="section-content">Our vision in 1-space to make something</p>
        <p class="section-paragraph pr-62px">
          Coworking is an arrangement in which workers of different companies
          share an office space, allowing cost savings and convenience through
          the use of common infrastructures services.
        </p>

        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-2">
                <img src="assets/images/Group 94.png" alt="Group 94" />
              </div>
              <div class="col-10">
                <p class="font-medium fon-bold">High quality co-living spaces</p>
                <p class="fs-13 font-ave">
                  Coworking is an arrangement in which workers of different
                  companies.
                </p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-2">
                <img src="assets/images/Group 96.png" alt="Group 96" />
              </div>
              <div class="col-10">
                <p class="font-medium fon-bold">Equipped for productivity</p>
                <p class="fs-13 font-ave">
                  Coworking is an arrangement in which workers of different
                  companies.
                </p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-2">
                <img
                  src="assets/images/working-hours.png"
                  alt="working hours"
                />
              </div>
              <div class="col-10">
                <p class="font-medium fon-bold">Simple and inclusive</p>
                <p class="fs-13 font-ave">
                  Coworking is an arrangement in which workers of different
                  companies.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="member-btns pt-5">
          <a href="#">
            <button type="button" class="btn-grp font-medium">
              Explore More
            </button>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-5 custom-col mr-b mt-100px width">
        <div class="upper-image">
          <img src="assets/images/Rectangle 17.png" alt="Image 1" class="border-img img-1" />
        </div>
        <div class="corner-images top-left">
          <img src="assets/images/Rectangle 18.png" alt="Image 2" class="border-img img-2" />
        </div>
        <div class="corner-images top-right">
          <img src="assets/images/Rectangle 19.png" alt="Image 3" class="border-img img-3" />
        </div>
        <div class="corner-images bottom-left">
          <img src="assets/images/Rectangle 20.png" alt="Image 4" class="border-img img-4" />
        </div>
        <div class="corner-images bottom-right"></div>
      </div>
    </div>
  </div>
</div>
