<div class="main-container">
  <div class="service">
    <div class="row align-items-center flex-col">
      <div class="col-12 col-md-6 d-flex justify-content-center pt pt-76 height pr-100">
        <div class="position-relative d-flex">
          <div class="position-absolute">
            <img
              src="assets/images/image 50.png"
              alt="Image"
              class="image-53 img-fluid"
            />
            <div class="position-absolute-sec">
              <img src="assets/images/Group 46.png" alt="Image" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 pt-100 pt-5">
        <p class="section-headings m-0">SERVICES</p>
        <p class="section-content">Solutions designed for all your needs</p>
        <p class="section-paragraph pr-62px pt-3">
          Coworking is an arrangement in which workers of different companies
          share an office space, allowing cost savings and convenience through
          the use of common infrastructures, such as equipment, utilities, and
          receptionist and custodial services, and in some cases refreshments
          and parcel acceptance services.
        </p>
        <div class="member-btns d-flex gap-5 pt-5">
          <a
            ><button type="button" class="btn-grp font-medium">
                View Availability
            </button></a
          >
         <div class="d-flex justify-content-center align-items-center gap-3">
            <a> <img src="assets/images/Group 83.png" alt="Image" /></a>
            <button class="btn-color">3D Tour of Space</button>

         </div>
        </div>
      </div>
    </div>
  </div>
</div>
