<div class="main-container">
  <div class="gallery">
    <div class="row">
      <div class="col-12 col-md-7">
        <p class="section-headings m-0">GALLERY</p>
        <p class="section-content">
          Immersive beautiful co-working space gallery
        </p>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="img-container">
              <img src="assets/images/Rectangle 56.png" class="rec-56" />
            </div>
          </div>
          <div class="col-12 col-md-8 pt">
            <div class="img-container">
              <img src="assets/images/Rectangle 57.png" class="rec-57" />
            </div>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-12 col-md-8">
            <div class="img-container">
              <img src="assets/images/Rectangle 58.png" class="rec-56" />
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="img-container">
              <img src="assets/images/Rectangle 59.png" class="rec-57" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="img-container">
          <img src="assets/images/Rectangle 54.png" class="rec-54" />
        </div>
      </div>
    </div>
  </div>
</div>
