<div class="introduction">
  <div class="row align-items-center pd-left">
    <div class="col-lg-4 padding-top">
      <img src="assets/images/Vector 1 (1).png" alt="Image" />
      <h1>A new way to revolutionise your workspace to yourself</h1>
      <div class="position-relative pt-5">
        <div class="d-flex align-items-center opacity justify-content-around">
          <div class="d-flex align-items-start gap-2 ">
            <img src="assets/images/Map Pin.png" alt="Image" class="map-img" />

            <p class="color font-cera m-0">City</p>
          </div>
          <div class="">
            <p class="color font-cera m-0">Location</p>
          </div>
          <div class="">
            <button type="submit" class="btn-grp font-medium">
              Schedule Visit
            </button>
          </div>
        </div>
      </div>

    <div class="d-flex pt-3 align-items-center">
  <div class="images">
    <img src="assets/images/Ellipse 31.png" alt="Image" />
    <img src="assets/images/Ellipse 32.png" alt="Image" class="elli-32" />
    <img src="assets/images/Ellipse 33.png" alt="Image" class="elli-33" />
    <img src="assets/images/Ellipse 34.png" alt="Image" class="elli-34" />
    <img src="assets/images/Ellipse 35.png" alt="Image" class="elli-35" />
    <img src="assets/images/Ellipse 36.png" alt="Image" class="elli-36" />
  </div>
  <div class="img-imges">
    <p>16 people booked a visit in last 24 hours</p>
  </div>
</div>

    </div>
    <div class="col-lg position-relative d-flex left-width">
      <div class="position bg-img">
        <img src="assets/images/Mask Group (5).png" alt="Image" />
      </div>
      <div class="circle">
        <div class="ellispse-one">
          <img src="assets/images/Ellipse 1 (1).png" alt="Image" />
        </div>
        <div class="ellipse-two">
          <img src="assets/images/Ellipse 3.png" alt="Image" />
        </div>
        <div class="ellipse-three">
          <img src="assets/images/Ellipse 2.png" alt="Image" />
        </div>
        <div class="ellipse-four">
          <img src="assets/images/Co Working.png" alt="Image" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="intro-cols pt-5">
  <div class="row">
      <div class=" col  ">
          <img src="assets/images/google.png" alt="Google" />
      </div>
      <div class=" col  ">
          <img src="assets/images/slack.png" alt="Slack" />
      </div>
      <div class=" col  ">
          <img src="assets/images/atlassian.png" alt="Atlassian" />
      </div>
      <div class=" col  ">
          <img src="assets/images/dropbox.png" alt="Dropbox" />
      </div>
      <div class=" col  ">
          <img src="assets/images/shopify.png" alt="Shopify" />
      </div>
  </div>
</div>
