<div class="footer main-container pt-5 pb-50">
    <div class="footer-child">
      <div class="row">
        <div class="col-12 col-md-3">
          <h4>1-space</h4>
          <p class="pt-2 font-medium">
            Men cannot not live by exchanging articles, but producing
            them. They live by work not trade.
          </p>
        </div>
        <div class="col-12 col-md-9">
          <div class="row">
            <div class="col-12 col-sm-4 d-flex flex-column align-items-center">
              <h5 class="pr-33 font font-medium">Company</h5>
              <ul class="list-unstyled pt-2 lh-2">
                <li><a>Global Localities</a></li>
                <li><a>Missions</a></li>
                <li><a>Careers</a></li>
                <li><a>Investors</a></li>
                <li><a>Newsroom</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-4 d-flex flex-column align-items-center">
              <h5 class="pl-46 font font-medium">Partnership</h5>
              <ul class="list-unstyled pt-2 lh-2">
                <li><a>Tasks</a></li>
                <li><a>Profile</a></li>
                <li><a>Events</a></li>
                <li><a>Services</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-4 d-flex flex-column align-items-center">
              <h5 class="pr-33 font font-medium">Follow us</h5>
              <div class="d-flex align-items-center justify-content-center pl-37 pt-2 gap">
                <a><img src="assets/images/Facebook (2).png" class="img-w" alt="Image" /></a>
                <a><img src="assets/images/Twitter (1).png" alt="Image" class="img-w"/></a>
                <a><img src="assets/images/Dribbble.png" alt="Image" class="img-w"/></a>
                <a><img src="assets/images/LinkedIn (1).png" alt="Image" class="img-w"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  