<div class="main-container pt-150">
    <div class="choose">
        <p class="section-headings m-0">WHY CHOOSE US?</p>
        <p class="section-content section-content-w">The benefits that will make you comfort</p>
        <div class="row justify-content-center">
            <div class="col-12 col-md  text-center">
                <img src="assets/images/Vector (10).png" alt="Image" />
                <p class="pt-3 font-semibold">Community Events</p>
                <p class="pt-1">
                    Allowing cost savings and convenience through the use of common infrastructures.
                </p>
            </div>
            <div class="col-12 col-md text-center">
                <img src="assets/images/wifi (1).png" alt="Image" />
                <p class="pt-3 font-semibold">High-Speed Wireless</p>
                <p class="pt-1">
                    Allowing cost savings and convenience through the use of common infrastructures.
                </p>
            </div>
            <div class="col-12 col-md  text-center">
                <img src="assets/images/Vector (12).png" alt="Image" />
                <p class="pt-3 font-semibold">Global Availability</p>
                <p class="pt-1">
                    Allowing cost savings and convenience through the use of common infrastructures.
                </p>
            </div>
            <div class="col-12 col-md  text-center">
                <img src="assets/images/Group (2).png" alt="Image" />
                <p class="pt-3 font-semibold">Comfort Lounges</p>
                <p class="pt-1">
                    Allowing cost savings and convenience through the use of common infrastructures.
                </p>
            </div>
            <div class="col-12 col-md  text-center">
                <img src="assets/images/Vector (11).png" alt="Image" />
                <p class="pt-3 font-semibold">Exercise Facilities</p>
                <p class="pt-1">
                    Allowing cost savings and convenience through the use of common infrastructures.
                </p>
            </div>
        </div>
    </div>
</div>
