<div class="main-container">
    <div class="solution">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">

                <p class="section-headings m-0">SOLUTIONS</p>
                <p class="section-content">The 1-space all view experience technology</p>
                <p class="section-paragraph pr-62px">
                  Coworking is an arrangement in which workers of different companies
                  share an office space, allowing cost savings and convenience through
                  the use of common infrastructures, such as equipment, utilities, and
                  receptionist and custodial services, and in some cases refreshments
                  and parcel acceptance services.
                </p>
                <div class="member-btns pt-5">
                    <a><button type="button" class="btn-grp font-medium">View Availability</button></a>
                  
                  </div>
            </div>
            <div class="col-12 col-md-6 pd-left-100">
                <img src="assets/images/Mask Group (6).png">
            </div>
        </div>
    </div>
</div>